@model BLL.Entities.DataBLL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
</head>
<body>
<div>
<h4>Всякое</h4>
    <div >
        @if (Model.RecipeData != null)
        {
            <h3>Рецепт номер @Model.ProcessData.Recipes.First().RecipeName</h3>


            foreach (var category in Model.RecipeData)
             {
                 <div class="row table-bordered">
                     <h2> @category.Key </h2>
                     @foreach (var group in category.Value)
                     {
                         <div class="col-lg-3 Recipe col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
                             <h3> @group.Key</h3>
                             @foreach (var property in group.Value)
                             {
                                 @: @property.Attributes.FirstOrDefault(a => a.Key == "DisplayNameAttribute").Value.ToString() = @property.Value; <br/>
                             }
                         </div>
                     }
                 </div>
             }



        }

             </div>
<div>
    <h3>Отчёты:</h3>
    @for (var index = 0; index < Model.ProcessData.Reports.Count; index++)
    {
        var report = Model.ProcessData.Reports[index];
        @:<div class="col-lg-2,col-md-3,col-sm-4">
        @:<text>Дата = @report.Date
        @:</text><br/>
        @:<text>Номер операции = @report.Number 
        @:</text><br/>
        @:<text>Имя операции = @report.ReportName 
        @:</text><br/>
        @:<text>Время операции = @report.wTimeOperation
        @:</text><br/>
        @:<text>Тип операции = @report.Operation
        @:</text><br/><br/>
        @:Много всяких данных: <br/>
       @* foreach (var properti in Model.ReportDictionary[index])
        {
            <text> @properti.Key =  @properti.Value;    </text> <br/>
        }*@
        <br/>
        @:</div>
    }

</div>

<p>
</p>
</div>
</body>
</html>
